* {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html,
body {

    height: 100%;
    width: 100%;

}

#main {

    height: 100%;
    width: 100%;

}

#top {

    width: 100%;
    height: 27vw;
    background-image: url(https://images.unsplash.com/photo-1607890276967-31862551e0a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 25%;

}

#overlay {

    width: 100%;
    height: inherit;
    background-color: #00000042;
    position: relative;

}

#nav {

    width: 100%;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 8vw;
    position: absolute;
    top: 17.5%;

}

#nav-left {

    color: #fff;
    z-index: 99;

}

#nav #nav-left::before {

    content: "";
    width: 2.3vw;
    height: 2.3vw;
    background: orangered;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -0.60vw;
    left: 7.35vw;

}

#nav #nav-right {

    width: 5%;
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
    z-index: 99;

}

#nav #nav-right-0::before {

    content: "";
    width: 2.3vw;
    height: 2.3vw;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -0.60vw;
    right: 7.35vw;

}

#nav #nav-right-1::before {

    content: "";
    width: 2.3vw;
    height: 2.3vw;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -0.60vw;
    right: 10.5vw;

}

#text {

    width: 100%;
    /* height: 40%; */
    /* background-color: red; */
    position: absolute;
    bottom: 20%;
    padding: 0 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;

}

#text h1 {

    font-size: 4vw;
    font-weight: 500;

}

#text-right {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    width: 55%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

#text-right p {

    font-size: 0.7vw;
    width: 30%;

}

#text-right #icons i {

    margin-left: 0.5vw;

}

#bottom {

    width: 100%;
    height: 18.8vw;
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

#b-one {

    width: 25%;
    height: 100%;
    background-color: #fff;
    padding: 2vw;

}

#b-one p {

    font-size: 0.7vw;
    margin-top: 0.5vw;

}

#b-two {

    width: 25%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1530007874544-a6f7674b5a47?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 60%;

}

#b-three {

    width: 20%;
    height: 100%;
    /* background-color: rgb(26, 102, 102); */
    color: #fff;

}

#b-three-top {

    width: 100%;
    height: 8.5vw;
    background-color: orangered;
    padding: 2vw;

}

#b-three-top p {

    font-size: 0.8vw;
    margin-top: 0.5vw;

}

#b-three-bottom {

    width: 100%;
    height: 10.3vw;
    background-image: url(https://images.unsplash.com/photo-1557800634-95f2a96fbd64?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}

#b-four {

    width: 30%;
    min-height: 100%;
    padding: 45px;
    background-color: #444;
    color: #fff;

}

.notf {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.8vw;
    margin-top: 1.1vw;

}

.notf #photo {

    width: 2.5vw;
    height: 2.5vw;
    background: #000;
    border-radius: 50%;

}

.notf p {

    width: 85%;

}

@media(max-width:800px) {


    #top {

        height: 85vw;

    }

    #overlay #text {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

    }

    #overlay #nav {

        font-size: 2vw;
        top: 10vw;

    }

    #overlay #nav #nav-left::before {

        height: 4.3vw;
        width: 4.3vw;
        left: 6.8vw;
        top: -0.9vw;

    }

    #overlay #nav #nav-right {

        gap: 4vw;
        width: 8%;
        font-size: 2.5vw;

    }

    #overlay #nav #nav-right-0:before {

        right: 4.8vw;
        height: 4.3vw;
        width: 4.3vw;

    }

    #overlay #nav #nav-right-1:before {

        right: 11.3vw;
        height: 4.3vw;
        width: 4.3vw;

    }

    #text {

        height: 55vw;
        /* background-color: #444; */
        bottom: 3%;

    }

    #text h1 {

        font-size: 15vw;

    }

    #overlay #text #text-right {

        -webkit-box-align: start;

        -ms-flex-align: start;

        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 7vw;

    }

    #overlay #text #text-right p {

        width: initial;
        margin-top: 2vw;
        font-size: 1.35vw;

    }

    #overlay #text #text-right #icons {
        padding-top: 8vw;
    }

    #bottom {

        height: 100%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    #b-one {

        width: 100%;
        min-height: 30vw;
        /* background-color: #444; */
        padding: 10vw;

    }

    #b-one h3 {

        font-size: 4vw;

    }

    #b-one p {

        font-size: 1.8vw;

    }

    #b-two {

        width: 100%;
        min-height: 80vw;

    }

    #b-three {

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;

        width: 100%;

    }

    #b-three-top {

        min-height: 30vw;
        padding: 10vw;

    }

    #b-three-top h3 {

        font-size: 4vw;

    }

    #b-three-top p {

        font-size: 1.8vw;

    }

    #b-three-bottom {

        min-height: 80vw;
        width: 100%;

    }

    #b-four {

        width: 100%;
        min-height: 40vw;

    }

    #b-four h3 {

        font-size: 4vw;
        margin-bottom: 4vw;

    }

    .notf {

        font-size: 1.8vw;
        margin-top: 2vw;

    }

    .notf #photo {

        width: 5vw;
        height: 5vw;

    }


}

@media(max-width:600px) {


    #top {

        height: 100vw;

    }

    #overlay #nav {

        font-size: 3.3vw;
        top: 10vw;

    }

    #overlay #nav #nav-left::before {

        height: 5.5vw;
        width: 5.5vw;

    }

    #overlay #nav #nav-right {

        font-size: 3.3vw;

    }

    #overlay #nav #nav-right-0:before {

        right: 3.1vw;
        height: 5.5vw;
        width: 5.5vw;

    }

    #overlay #nav #nav-right-1:before {

        right: 10.5vw;
        height: 5.5vw;
        width: 5.5vw;
    }

    #text h1 {

        font-size: 17vw;

    }

    #overlay #text #text-right p {

        font-size: 1.8vw;

    }

    #b-one {

        width: 100%;
        min-height: 35vw;

    }

    #b-one h3 {

        font-size: 4.5vw;
        margin-bottom: 2vw;

    }

    #b-three-top h3 {

        font-size: 4.5vw;
        margin-bottom: 2vw;

    }

    #b-three-top p {

        font-size: 1.8vw;

    }

    #b-four {

        min-height: 55vw;

    }

    #b-four h3 {

        font-size: 4.5vw;

    }

    .notf {

        font-size: 2vw;

    }

    .notf #photo {

        width: 7.5vw;
        height: 7.5vw;

    }


}